<a href="https://colab.research.google.com/github/bahadurshubham/bahadurshubham/blob/main/Predicitng_california_housing_prices_using_different_regression_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#making the directory to store the datsets frmo kaggle
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json
!kaggle datasets download -d camnugent/california-housing-prices
!unzip california-housing-prices.zip

Downloading california-housing-prices.zip to /content
  0% 0.00/400k [00:00<?, ?B/s]
100% 400k/400k [00:00<00:00, 28.8MB/s]
Archive:  california-housing-prices.zip
  inflating: housing.csv

In [2]:
#loading the datasets from kaggle on the dataframe
import pandas as pd
import numpy as np

housing = pd.read_csv('housing.csv')
housing['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [3]:
#randomizing the datasets
housing_df = housing.sample(n=len(housing) , random_state=1)
housing_df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,355000.0,<1H OCEAN
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,70700.0,INLAND
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,229400.0,NEAR BAY
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,112500.0,NEAR BAY
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,225400.0,<1H OCEAN
...,...,...,...,...,...,...,...,...,...,...
10955,-117.88,33.76,17.0,1768.0,474.0,1079.0,436.0,1.7823,205300.0,<1H OCEAN
17289,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,<1H OCEAN
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,104800.0,<1H OCEAN
12172,-117.16,33.73,10.0,2381.0,454.0,1323.0,477.0,2.6322,140700.0,INLAND
235,-122.20,37.79,35.0,1802.0,459.0,1009.0,390.0,2.3036,126000.0,NEAR BAY

In [4]:
#making dummies of the original dataset
pd.get_dummies(housing_df['ocean_proximity']).head()

       <1H OCEAN  INLAND  ISLAND  NEAR BAY  NEAR OCEAN
4712           1       0       0         0           0
2151           0       1       0         0           0
15927          0       0       0         1           0
82             0       0       0         1           0
8161           1       0       0         0           0

In [5]:
#concatenating all the dummies and the and removing the ocean_proximity row
housing_final = pd.concat([housing_df.drop('ocean_proximity' , axis=1),
                          pd.get_dummies(housing_df['ocean_proximity'])]  , axis=1)
len(housing_final)

20640

In [6]:
#changing the output label from between to the last
housing_final = housing_final[['longitude','latitude',
                              'housing_median_age','total_rooms',
                              'total_bedrooms',	'population',
                              'households',	'median_income',
                              '<1H OCEAN','INLAND',
                              'ISLAND',	'NEAR BAY',
                              'NEAR OCEAN','median_house_value']]

In [7]:
#dropping all the zaero rows and columns
housing_final = housing_final.dropna()
housing_final

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN,median_house_value
4712,-118.36,34.06,39.0,2810.0,670.0,1109.0,624.0,3.2500,1,0,0,0,0,355000.0
2151,-119.78,36.78,37.0,2185.0,455.0,1143.0,438.0,1.9784,0,1,0,0,0,70700.0
15927,-122.42,37.73,46.0,1819.0,411.0,1534.0,406.0,4.0132,0,0,0,1,0,229400.0
82,-122.28,37.81,52.0,340.0,97.0,200.0,87.0,1.5208,0,0,0,1,0,112500.0
8161,-118.13,33.82,37.0,1530.0,290.0,711.0,283.0,5.1795,1,0,0,0,0,225400.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10955,-117.88,33.76,17.0,1768.0,474.0,1079.0,436.0,1.7823,1,0,0,0,0,205300.0
17289,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,1,0,0,0,0,500001.0
5192,-118.26,33.93,42.0,1433.0,295.0,775.0,293.0,1.1326,1,0,0,0,0,104800.0
12172,-117.16,33.73,10.0,2381.0,454.0,1323.0,477.0,2.6322,0,1,0,0,0,140700.0
235,-122.20,37.79,35.0,1802.0,459.0,1009.0,390.0,2.3036,0,0,0,1,0,126000.0

In [8]:
#splitting the data into training, validation and test data
train_df, val_df, test_df, = housing_final[:18000] , housing_final[18000:19318] , housing_final[19319:20433]
train_df.shape , val_df.shape , test_df.shape

((18000, 14), (1318, 14), (1114, 14))

In [9]:
#splitting the training, validation and test datasets into inputs and outputs
X_train , Y_train = train_df.to_numpy()[: , :-1] , train_df.to_numpy()[: , -1]
X_val , Y_val = val_df.to_numpy()[: , :-1] , val_df.to_numpy()[: , -1]
X_test , Y_test = test_df.to_numpy()[: , :-1] , test_df.to_numpy()[: , -1] 

X_train.shape , Y_train.shape, X_val.shape , Y_val.shape, X_test.shape , Y_test.shape

((18000, 13), (18000,), (1318, 13), (1318,), (1114, 13), (1114,))

In [10]:
#now scaling the data and creating a function for the same 
from sklearn.preprocessing import StandardScaler
import numpy as np

scaler = StandardScaler().fit(X_train[: , :8])

def preprocessor(X):
  A = np.copy(X)
  A[: , :8] = scaler.transform(A[: , :8])
  return A

X_train ,X_val ,X_test = preprocessor(X_train), preprocessor(X_val), preprocessor(X_test)
#converting the scaled model into a dataframe
pd.DataFrame(X_train).head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.603443,-0.736073,0.820845,0.081039,0.315396,-0.276840,0.328234,-0.326667,1.0,0.0,0.0,0.0,0.0
1,-0.105122,0.537108,0.661774,-0.206526,-0.196843,-0.246809,-0.160526,-0.995001,0.0,1.0,0.0,0.0,0.0
2,-1.422454,0.981785,1.377592,-0.374924,-0.301674,0.098553,-0.244613,0.074459,0.0,0.0,0.0,1.0,0.0
3,-1.352596,1.019231,1.854804,-1.055419,-1.049782,-1.079740,-1.082862,-1.235508,0.0,0.0,0.0,1.0,0.0
4,0.718211,-0.848412,0.661774,-0.507894,-0.589957,-0.628385,-0.567825,0.687448,1.0,0.0,0.0,0.0,0.0

In [11]:
#calculating the loss function from linearRegression
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mse

lr = LinearRegression().fit(X_train, Y_train)
mse(lr.predict(X_train) , Y_train , squared=False) , mse(lr.predict(X_val) , Y_val , squared=False)

(68593.05578127236, 66877.03985339441)

In [12]:
#implementing the KNeighbors regressor and then the loss function
from sklearn.neighbors import KNeighborsRegressor

knn = KNeighborsRegressor(n_neighbors=10).fit(X_train , Y_train)
mse(knn.predict(X_train) , Y_train , squared=False) , mse(knn.predict(X_val) , Y_val, squared=False)

(53759.09908812057, 58588.033973961115)

In [13]:
#implementing the randomforestregressor and then the loss function
from sklearn.ensemble import RandomForestRegressor
rnn = RandomForestRegressor(max_depth=10).fit(X_train , Y_train)
mse(rnn.predict(X_train), Y_train , squared=False) , mse(rnn.predict(X_val) , Y_val , squared=False)

(43532.178817025466, 51903.99632448141)

In [14]:
#implementing the gradiantboostregressor and then the loss function
from sklearn.ensemble import GradientBoostingRegressor
gbr = GradientBoostingRegressor(n_estimators=170).fit(X_train , Y_train)
mse(gbr.predict(X_train) , Y_train , squared=False) , mse(gbr.predict(X_val) , Y_val , squared=False)

(49806.97204725272, 51255.24488778017)

In [16]:
#implementing the tensorflow framework to calculate the loss function
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import *
from tensorflow.keras.callbacks import ModelCheckpoint
from tensorflow.keras.metrics import RootMeanSquaredError
from tensorflow.keras.optimizers import Adam

sample_nn = Sequential()
sample_nn.add(InputLayer((13,)))
sample_nn.add(Dense(256, 'relu'))
sample_nn.add(Dense(128, 'relu'))
sample_nn.add(Dense(64, 'relu'))
sample_nn.add(Dense(32, 'relu'))
sample_nn.add(Dense(16, 'relu'))
sample_nn.add(Dense(1, 'linear'))

opt = Adam(learning_rate=.3)
cp = ModelCheckpoint('models/sample_nn' , save_best_only=True)
sample_nn.compile(optimizer=opt, loss='mse' , metrics=[RootMeanSquaredError()])
sample_nn.fit(x=X_train , y=Y_train , validation_data=(X_val, Y_val) ,callbacks=[cp], epochs=10)

Epoch 1/10
551/563 [============================>.] - ETA: 0s - loss: 57965010944.0000 - root_mean_squared_error: 240759.2344INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 5s 7ms/step - loss: 57900707840.0000 - root_mean_squared_error: 240625.6562 - val_loss: 56725274624.0000 - val_root_mean_squared_error: 238170.6875
Epoch 2/10
553/563 [============================>.] - ETA: 0s - loss: 55920431104.0000 - root_mean_squared_error: 236475.0156INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 3s 5ms/step - loss: 55989022720.0000 - root_mean_squared_error: 236620.0000 - val_loss: 56655851520.0000 - val_root_mean_squared_error: 238024.8906
Epoch 3/10
556/563 [============================>.] - ETA: 0s - loss: 55879319552.0000 - root_mean_squared_error: 236388.0625INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 3s 5ms/step - loss: 55919869952.0000 - root_mean_squared_error: 236473.8281 - val_loss: 56586174464.0000 - val_root_mean_squared_error: 237878.4844
Epoch 4/10
550/563 [============================>.] - ETA: 0s - loss: 55879917568.0000 - root_mean_squared_error: 236389.3281INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 3s 5ms/step - loss: 55850635264.0000 - root_mean_squared_error: 236327.3906 - val_loss: 56516452352.0000 - val_root_mean_squared_error: 237731.8906
Epoch 5/10
557/563 [============================>.] - ETA: 0s - loss: 55783800832.0000 - root_mean_squared_error: 236185.9531INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 3s 5ms/step - loss: 55781363712.0000 - root_mean_squared_error: 236180.7812 - val_loss: 56446865408.0000 - val_root_mean_squared_error: 237585.4844
Epoch 6/10
560/563 [============================>.] - ETA: 0s - loss: 55695638528.0000 - root_mean_squared_error: 235999.2344INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 3s 5ms/step - loss: 55712256000.0000 - root_mean_squared_error: 236034.4375 - val_loss: 56377339904.0000 - val_root_mean_squared_error: 237439.1250
Epoch 7/10
561/563 [============================>.] - ETA: 0s - loss: 55656366080.0000 - root_mean_squared_error: 235916.0156INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 3s 5ms/step - loss: 55643176960.0000 - root_mean_squared_error: 235888.0625 - val_loss: 56307781632.0000 - val_root_mean_squared_error: 237292.6094
Epoch 8/10
554/563 [============================>.] - ETA: 0s - loss: 55603687424.0000 - root_mean_squared_error: 235804.3438INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 3s 5ms/step - loss: 55574130688.0000 - root_mean_squared_error: 235741.6562 - val_loss: 56238346240.0000 - val_root_mean_squared_error: 237146.2500
Epoch 9/10
558/563 [============================>.] - ETA: 0s - loss: 55539593216.0000 - root_mean_squared_error: 235668.3906INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 3s 6ms/step - loss: 55505219584.0000 - root_mean_squared_error: 235595.4531 - val_loss: 56169062400.0000 - val_root_mean_squared_error: 237000.1250
Epoch 10/10
558/563 [============================>.] - ETA: 0s - loss: 55409942528.0000 - root_mean_squared_error: 235393.1719INFO:tensorflow:Assets written to: models/sample_nn/assets
563/563 [==============================] - 3s 5ms/step - loss: 55436328960.0000 - root_mean_squared_error: 235449.2031 - val_loss: 56099758080.0000 - val_root_mean_squared_error: 236853.8750